* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #fff;
    margin: 2rem;
    height: 100vh;
    color: rgb(100, 100, 100);
    position: relative;
}

h1 {
    font-weight: 700;
    text-align: left;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.card {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
    flex-basis: 30%;
    width: 90vw;
    display: grid;
    grid-template-areas:
    "img"
    "name"
    "email"
    "town"   
    ;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1rem;
    justify-items: center;
}

.card:hover{
    cursor: pointer;
}

.employee-img {
    grid-area: img;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem 2rem 1rem;
}

.employee-name {
    grid-area: name;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 8px;
}

.employee-email {
    grid-area: email;
    color: inherit;
}

a:hover {
    color: darkblue;
}

.employee-town {
    grid-area: town;
    margin-top: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 90%;
    margin: 5vh auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}   
    
.modal p, .modal a, .modal h2 {
    padding: 0;
    font-size: 0.7rem;
}

.modal h2 {
    font-size: 1rem;
}

.modal img {
    width: 150px;
    height: 150px;
}

/* ====MEDIA QUERIES====*/

@media (min-width: 500px) {
    .modal {
        width: 375px;
    }

    .modal p, .modal a {
        font-size: 1rem;
    }
    
    .modal h2 {
        font-size: 1.5rem;
    }

}

@media (min-width: 1300px) {

    .card {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "img name name"
            "img email email"
            "img town town"   
            ;
        justify-items: left;
        padding: 0;

        margin-right: 20px;
        margin-bottom: 20px;
        min-width: 20vw;
    }


    .employee-name {
        margin-bottom: 0px;
        padding-top: 0.4em;
        padding-bottom: 0.2em;
    }

    .employee-email, .employee-town, .employee-name {
        padding-right: 2rem;
    }

    
    .employee-town {
        margin-top: 0px;
        padding-bottom: 1em;
        padding-top: 0.1em;
    }

    .employee-name {
        font-size: 1rem;
    }
    
    .employee-email, .employee-town {
        font-size: 0.8rem;
    }
    
    .employee-img {
        margin: 1rem 1rem 1rem;
    }
}